*{
    margin: 0;
    padding: 0;
}

/* Body */
body{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: 
    "aside header"
    "aside main"
    "aside footer";
}

/*Aside */
aside{
    grid-area: aside;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 220px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    border-right:1px solid rgba(0, 0, 0, 0.164);
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.185);
}



aside p{
    font-family: Roboto;
    font-size: 30px;
    font-weight: 700;
    height: 68px;
    background-color: #F1833E;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

aside button{
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: bolder;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    width: 220px;
    height: 33px;
    background-color: #FFFFFF;
    border-top:1px solid rgba(0, 0, 0, 0.137);
    border-bottom:1px solid rgba(0, 0, 0, 0.137);
    border-left: none;
    border-right: none;
    padding-left: 20px;
    
}

aside button:hover{
    background-color: #FDF1EB;
    border-left: 4px solid #F1833E ;
}

/*Header*/
header{
    grid-area: header;
    height: 68px;
    width: 1146px;
    padding-top: 5px;
    background-color: #FDF1EB;
    display: flex;
}

header p{
    color: black;
}

nav{
    width: 100%;
    height: 100%;
    display: flex;
    padding-left: 30px;
}

nav p{
    Font-family: Roboto;
    Font-size: 14px;
}

nav h4{
    Font-family: Roboto;
    Font-style: Regular;
    Font-size: 22px;
    margin-top: -21px;
}

.partleft{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.partright{
    display: flex;
    align-items: center;
    position: relative;
}

.partright button{
    padding: 4px;
    border-radius: 3px;
    background-color:#FDF1EB;
    border: solid 1px rgba(0, 0, 0, 0.288);
}

.partright i{
    padding-right: 5px;
}
.partright select{
    background-color: #FDF1EB;
    border: 0;
}

.partright img {
    border-radius: 60%;
}

.partright #notification{
    position: absolute;
    color: white;
    background-color: #F0813D;
    line-height: 14px;
    padding: 0px 4px;
    border-radius: 60%;
    top: 14px;
    right: 3px;
    font-size: 10px;
}

.email{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.email :first-child{
    font-family: 'Quicksand', sans-serif;
    padding-left: 65px;
}

/*Main*/
main{
    position: relative;
    height: 100%;
    width: 1086px;
    padding: 20px 20px 20px 30px;
    display: grid;
    grid-template-areas: 
    "titulo titulo"
    "video detalhes"
    "resumo resumo"
    "secdiscussoes secdiscussoes";
    grid-template-columns: 75% 1fr;
}


.titulo{
    padding: 2px;
    padding-bottom: 15px;
    display: flex;
    width: 1080px;
    height: 50px;
    position: relative;
}


.titulo h1{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 900;
    width: 786px;
    line-height: 25px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #F1833E;
}

.titulo div{
    display: flex;
    padding-right: 28px;
}

#butdownload{
    background-color: #F1833E;
    width: 120px;
    height:31px ;
    border-radius: 4px;
    padding-left: 10px;
    color: white;
    border: none;
    margin-left: 90px;
}

#butdownload i{
    padding-right: 5px;
    margin-left: -10px;
}

#butfavorito{
    background-color: #F1833E;
    color: white;
    border: none;
    width: 43px;
    height:31px;
    border-radius: 4px;
    margin-left: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#butdoi{
    background-color: #F1833E;
    color: white;
    border: none;
    width: 43px;
    height:31px;
    border-radius: 4px;
    margin-left: 5px;
    padding-left: 10px;
    padding-right: 10px;
}


#comocitar{
    position: absolute;
    top: 40px;
    right: 30px;
    font-weight: bolder;
}

.video{
    grid-area: video;
    width: 783px;
    height: 439px;
}

.detalhes{
    grid-area: detalhes;
    height: 447px;
    width: 240px;
    font-family: Roboto;
    border:1px solid #e4dbdb;
}

.detalhesin{
    height: 99%;
    padding: 10px;
    Font-family: 'Quicksand', sans-serif;
    font-size: 14px;
}

ul{
    list-style: none;
    line-height: 25px;
}

.detalhesin p{
    Font-family: 'Quicksand', sans-serif;
    color: black;
    padding-bottom: 10px;
    font-size: 14px;
}

.detalhes h2{
    background-color: #FDF1EB;
    color: black;
    Font-family: 'Quicksand', sans-serif;
    padding-left: 12px;
    padding: 10px;
    
}

p{ 
    color: #F1833E; 
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
}

.resumo{
    grid-area: resumo;
    color: black;
    width: 1058px;
    height: 189px;
    border: 1px solid #ECECEC;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.textresume p{
    color: black;
    width: 1028px;
    height:114px ;
    padding: 10px;
}

.resumo h2{
    background-color:#FDF1EB;
    padding: 10px;
    padding-left: 20px;
    width: 97.5%;
    display: flex;
    flex-direction: row;
    font-family:Roboto;
}


.secdiscussoes{
    grid-area: secdiscussoes;
    width: 1058px;
    height: 635px;
    text-align: center;
    align-items: center;
    border: 1px solid #ECECEC;
    margin-top: 20px;
}

.secdiscussoes h3{
    width: 1037px;
    height: 45px;
    background-color: #FDF1EB;
    font-family: Roboto;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.secdiscussoes h4{
    font-family: 'Quicksand', sans-serif;
    color: black;
    font-size: 14px;
    margin-top: 10px;
}

.secdiscussoes .definaumtopico{
    display: flex;
    justify-content: center;
    padding: 10px;

}

.secdiscussoes .definaumtopico textarea{
    border: 1px solid #CCCCCC;
    padding: 5px 0px 0px 25px;
}

.secdiscussoes h5{
    display: flex;
    padding-left: 15px;
    font-family: Roboto;
    font-size: 16px;
    color: #F0813D;
}

.secdiscussoes .containerbutton{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 97.5%;
    height: 113px;
    position: relative;
    margin-left: 12px;
    position: relative;
}

.secdiscussoes .containerbutton textarea{
    border: 1px solid #CCCCCC;
    padding: 10px;
}

.secdiscussoes .containerbutton::after{
    position: absolute;
    content: '';
    height: 1px;
    width: 1027px;
    background-color: #E7E7E7;
    top: 128px;
    
}

.secdiscussoes .containerbutton div{
    position: absolute;
    width: 100%;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color:#CCCCCC;
}

.secdiscussoes .containerbutton p i{
    padding: 10px 10px 0px 25px;
}

.secdiscussoes .containerbutton div button{
    width: 205.1px;
    height: 31px;
    background-image: linear-gradient(to top, #F1833E,#FEB154 );
    font-size: 15px;
    color: white;
    border: 0;
}

.secdiscussoes img{
    margin: 20px 30px;
}

.secdiscussoes p{
    color: black;
    margin-bottom: 10px;
    line-height: 16px;
    font-size: 15px;
}


/*Sessão Assunto*/

.assunto{
    text-align: left;
    padding: 10px 12px;
    margin-top: 30px;
}

.assunto .inassunto{
    border: 1px solid #E7E7E7;
    border-radius: 5px;
    padding: 10px;
}

.assunto h3{
   background: none;
   font-family: 'Quicksand', sans-serif;
   font-size: 16px;
   font-weight: 700,bold;  
   margin-left: -20px;
   width: 300px;
   height: 20px;
}

.assunto h4{
    color: black;
    font-size: 12px;
    margin-top: 0.5px;
    margin-bottom: 15px;
}

.assunto p{
   font-size: 16px;
   display: inline; 
}

.assunto button{
    width: 27px;
    height: 19px;
    background-color: #F0813D;
    color: white;
    border: none;
    
}

.assunto #ellipsis{
    color: #F0813D;
    font-size: 20px;
    padding-right: 10px;
}

.assunto #like{
    margin: 0px 10px;
}

/*Sessão Assunto 2*/
.assunto2{
    text-align: left;
    padding: 10px 12px;
}

.assunto2 .inassunto2{
    border: 1px solid #E7E7E7;
    border-radius: 5px;
    padding: 10px;
}

.assunto2 h3{
    background: none;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 700,bold;  
    margin-left: -20px;
    width: 300px;
    height: 20px;
}

.assunto2 h4{
    color: black;
    font-size: 12px;
    margin-top: 0.5px;
    margin-bottom: 15px;
}

.assunto2 p{
   font-size: 16px;
   display: inline;
   padding-bottom:30px ;
}

.assunto2 button{
    width: 27px;
    height: 19px;
    background-color: #F0813D;
    color: white;
    border: none;
    
}

.assunto2 #ellipsis2{
    color: #F0813D;
    font-size: 20px;
    padding-right: 10px;
}

.assunto2 #like2{
    margin: 0px 10px;
}

footer{
    
    margin-left: 22px;
    padding-top: 60px;
}








